@import "colors.scss";

#window {
    background-color: $black;
    border-color: $grey-600;
}

#workspaces button {
    background-color: $accent-dark;
    color: $white;
}

#clock {
    color: $cyan-dark;
}
